

div {
 overflow-x:auto;
}

h1 	{
	font-size: 1.6em;
	color: #006600;
	
	font-weight: normal;
	}

h2 	{
	font-size: 1.2em;
	color: #FF0000;
	font-weight: normal;
	}



table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:green;
    border-collapse: collapse;
    width: 80%;
}

td,th {
    border: 1px solid #ddd;
    padding: 8px;
}


th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

